<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KiUI - Kendo UI Web lost features</title>
    <!-- TODO: inside the description, add the name of every element developed using a template  -->
    <meta name="description" content="Widgets, validators and other features for Kendo UI Web that were lost in time (and space)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="rainbow-github.css" rel="stylesheet">

    <script src="http://cdn.kendostatic.com/<%= kendoVersion %>/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/<%= kendoVersion %>/js/kendo.web.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="<%= filename %>-<%= pkg.version%>.min.js"></script>
    <script src="rainbow-custom.min.js"></script>

    <link rel="author" href="https://github.com/redaemn/KiUI/graphs/contributors">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <!--<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="brand" href="#">KiUI</a>
                <!--<div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        Logged in as <a href="#" class="navbar-link">Username</a>
                    </p>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>--><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <!--<li class="nav-header">Sidebar</li>
                        <li class="active"><a href="#">Link</a></li>-->
                        <% Object.keys(demoSite.features).forEach(function(groupId) { %>
                            <% var groupDescriptor = demoSite.features[groupId]; %>
                            <li class="nav-header"><%= groupDescriptor.displayName %></li>
                            <% Object.keys(groupDescriptor.features).forEach(function(featureId) { %>
                                <% var feature = groupDescriptor.features[featureId]; %>
                                <li><a href="#<%= groupId %>_<%= featureId %>"><%= feature.displayName %></a></li>
                            <% }); %>
                        <% }); %>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span10">
                <div class="hero-unit">
                    <h1>KiUI</h1>
                    <p>Widgets, validators and other features for <strong>Kendo UI Web</strong> that were lost in time (and space)</p>
                </div>

                <% Object.keys(demoSite.features).forEach(function(groupId) { %>
                    <% var groupDescriptor = demoSite.features[groupId]; %>
                    <div class="row-fluid group-container">
                        <div class="span12">
                            <div class="page-header">
                                <h1><%= groupDescriptor.displayName %></h1>
                            </div>

                            <% Object.keys(groupDescriptor.features).forEach(function(featureId) { %>
                                <% var feature = groupDescriptor.features[featureId]; %>
                                <% var featureCompleteID = groupId + "_" + featureId; %>

                                <section id="<%= featureCompleteID %>" class="feature-container">

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <h3><%= feature.displayName %></h3>
                                        </div><!--/span-->
                                    </div><!--/row-->

                                    <div class="row-fluid">
                                        <div class="span6">
                                            <%= feature.html %>
                                            <script><%= feature.js %></script>
                                        </div><!--/span-->
                                        <div class="span6">
                                            <div class="well">
                                                <%= feature.readme %>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#<%= featureCompleteID %>_html" data-toggle="tab">Html</a></li>
                                                <li><a href="#<%= featureCompleteID %>_js" data-toggle="tab">Javascript</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="<%= featureCompleteID %>_html">
                                                    <pre><code data-language="html"><%- feature.html %></code></pre>
                                                </div>
                                                <div class="tab-pane" id="<%= featureCompleteID %>_js">
                                                    <pre><code data-language="javascript"><%- feature.js %></code></pre>
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->

                                </section>

                            <% }); %>

                        </div><!--/span-->
                    </div><!--/row-->

                <% }); %>

            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>Powered by <a href="http://www.kendoui.com/web.aspx">Kendo UI Web</a></p>
            <p>Project on GitHub <a href="https://github.com/redaemn/KiUI">https://github.com/redaemn/KiUI</a></p>
        </footer>

    </div><!--/.fluid-container-->

</body>

</html>
