body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

body > .navbar .brand {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

body > .navbar .contribution {
  padding: 10px 0px 10px 15px;
  text-decoration: none;
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

body > .navbar .contribution:hover {
  background-color: transparent;
  color: #ffffff;
}

body > .navbar .dropdown .dropdown-toggle, body > .navbar .contribution {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

footer > p {
  margin: 0;
  text-align: center;
}

section#introduction,
section#installation {
  padding-top: 30px;
}

section#installation {
  padding-bottom: 30px;
}

ul.social-buttons {
  list-style-type: none;
  margin: 40px 0 0;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 20px;
}

.section-header {
  margin-bottom: 20px;
}

.feature-name-container {
  margin-right: 60px;
}

.feature-name-container, .feature-name, span.social-buttons {
  display: inline-block;
}

.feature-name + span.label {
  vertical-align: super;
}

div.paragraph {
  margin: 0 0 10px;
}

.kiuiEventLogger h5 {
  text-align: center;
  margin-top: 0;
}

.kiuiEventLogger ul {
  list-style-type: none;
  height: 200px;
  margin: 0;
  overflow-y: auto;
  background-color: white;
}

.kiuiEventLogger ul li {
  padding: 1px 4px;
  border-bottom: 1px solid #eeeeee;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  body > .navbar .contribution.submit-pr {
    padding-right: 15px;
  }
}

/******************/
/*** Animations ***/
/******************/

.pulse-animation {
  animation: pulse 12s ease 2s infinite normal none;
  -webkit-animation: pulse 12s linear 2s infinite normal none;
  -moz-animation: pulse 12s ease 2s infinite normal none;
}

.pulse-animation:hover {
  animation: initial;
  -webkit-animation: initial;
  -moz-animation: initial;
}

@keyframes pulse
{
  0%, 42% {color: #999999; text-shadow: none;}
  50% {color: #ffffff; text-shadow: 0 0 1em #fff, 0 0 3em #fff; -webkit-animation-timing-function: ease-out;}
  58% {color: #999999; text-shadow: none; -webkit-animation-timing-function: ease-in;}
  100% {color: #999999; text-shadow: none;}
}

@-webkit-keyframes pulse
{
  0%, 42% {color: #999999; text-shadow: none;}
  50% {color: #ffffff; text-shadow: 0 0 1em #fff, 0 0 3em #fff; -webkit-animation-timing-function: ease-out;}
  58% {color: #999999; text-shadow: none; -webkit-animation-timing-function: ease-in;}
  100% {color: #999999; text-shadow: none;}
}

@-moz-keyframes pulse
{
  0%, 42% {color: #999999; text-shadow: none;}
  50% {color: #ffffff; text-shadow: 0 0 1em #fff, 0 0 3em #fff; -webkit-animation-timing-function: ease-out;}
  58% {color: #999999; text-shadow: none; -webkit-animation-timing-function: ease-in;}
  100% {color: #999999; text-shadow: none;}
}
